<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/table.css">

</head>
<body>
    <div class="container">
	
	<div class="table">
		<div class="table-header">
			<div class="header__item"><a id="name" class="filter__link" href="#">Name</a></div>
			<div class="header__item"><a id="wins" class="filter__link filter__link--number" href="#">JS</a></div>
			<div class="header__item"><a id="draws" class="filter__link filter__link--number" href="#">Python</a></div>
			<div class="header__item"><a id="losses" class="filter__link filter__link--number" href="#">AI</a></div>
			
		</div>
		<div class="table-content">	
			<div class="table-row">		
				<div class="table-data">Javokhir</div>
				<div class="table-data">2</div>
				<div class="table-data">0</div>
				<div class="table-data">1</div>
				
			</div>
			<div class="table-row">
				<div class="table-data">Sardor</div>
				<div class="table-data">1</div>
				<div class="table-data">1</div>
				<div class="table-data">2</div>
				
			</div>
			<div class="table-row">
				<div class="table-data">Umar</div>
				<div class="table-data">0</div>
				<div class="table-data">2</div>
				<div class="table-data">2</div>
				
			</div>
		</div>	
	</div>
</div>

</body>
</html>